.registros-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 150px auto;
    max-width: 800px;
    background-color: #123465;
  }

  .route-search-input {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  